# Source files
src/
test/
examples/

# Config & build files
tsconfig.json
rollup.config.mjs
eslint.config.mjs
vitest.config.ts
vitest.e2e.config.ts
.prettierrc
.eslintignore

# Scripts
upload.sh
docker-run-node-red.sh

# Assets
assets/

# Coverage & reports
coverage/

# Git
.github/

# Misc
*.tgz
